.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/.gradle/
android/local.properties

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

*.iml
.idea/

# Backend
node_modules/
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
!backend/.env.example
